.Tile {
    border-radius: var(--border-radius);
    border-width: var(--tile-border-width);
    border-color: var(--tile-border-color);
    background: var(--tile-bg);
    /*
    background-color: var(--bg-primary-color-transparent-header);
    */
    padding: 0.5rem 1rem;

    transition: all var(--transition-fast) ease-out;
}

.Tile:hover {
    background: var(--tile-bg-hover);
}