 #navbar {
     position: fixed;

     box-sizing: border-box;
     padding-top: 15px;
     top: -15px;
     border: 2px solid white;
     border-top: none;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;

     color: white;
     background-color: var(--bg-primary-color);
     box-shadow: rgb(4, 0, 255) 0 0 15px 6px,
         inset rgb(4, 0, 255) 0 0 6px 6px;

     z-index: 10;
     transition: 1s;
 }

 #nav-toogle {
     position: absolute;
     width: 30px;
     height: 30px;
     right: 20px;
     top: 0;

     cursor: pointer;
     border-width: 1px;

     background-color: var(--bg-primary-color);
     border-radius: 10px;
 }

 #nav-toogle:hover {
     background-color: #201233;
 }

 .navbar_controls {
    display: flex;
    gap: 20px;
 }