 #navbar {
     position: fixed;

     box-sizing: border-box;
     padding-top: 15px;
     top: -15px;
     border: 1px solid white;
     border-top: none;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;

     color: white;
     background-color: var(--navbar-bg-color);

     box-shadow: var(--navbar-neon-box-shadow),
         var(--navbar-neon-box-shadow-inset);

     height: var(--navbar-height);

     z-index: 10;
     transition: 1s;
 }

 #nav-toogle {
     position: absolute;
     width: 30px;
     height: 30px;
     right: 20px;
     top: 0;

     cursor: pointer;
     border-width: 1px;

     background-color: var(--bg-primary-color);
     border-radius: 10px;
 }

 #nav-toogle:hover {
     background-color: #201233;
 }

 .navbar-item-container {
     position: relative;
     display: flex;
     height: var(--navbar-height);
     align-items: center;
     vertical-align: center;
 }

 .navbar-item {
     min-width: 50px;
     display: flex;
     padding-left: 2rem;
     align-items: center;
     position: relative;
     height: var(--navbar-height);
 }

 .navbar-item:hover .navbar-item-label {
     color: var(--color-text-hover);
     font-size: 22px;
 }

 .navbar_controls {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     gap: 20px;
     padding-left: 2rem;
 }

 .navbar .navbar-item .icon-wrapper:hover {
     height: var(--icon-mid-size-hover);
     width: var(--icon-mid-size-hover);
 }

 .navbar .navbar-item.activeLink .navbar-item-label {
     color: var(--color-active-link);
     font-size: 20px;
 }

 .navbar .navbar-item-container:hover .navbar-item.activeLink .navbar-item-label {
     font-size: 18px;
 }

 .navbar .navbar-item-container:hover .navbar-item.activeLink:hover .navbar-item-label {
     font-size: 20px;
 }