 #navbar {
     position: fixed;

     box-sizing: border-box;
     padding-top: 15px;
     top: -15px;
     border: 1px solid white;
     border-top: none;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;

     color: white;
     background-color: var(--navbar-bg-color);

     box-shadow: var(--navbar-neon-box-shadow),
         var(--navbar-neon-box-shadow-inset);

     height: var(--navbar-height);

     z-index: 10;
     transition: 1s;
 }

 .navbar {
     position: fixed;

     box-sizing: border-box;
     padding-top: 15px;
     top: -15px;
     border: 1px solid white;
     border-top: none;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;

     color: white;
     background-color: var(--navbar-bg-color);

     box-shadow: var(--navbar-neon-box-shadow),
         var(--navbar-neon-box-shadow-inset);

     z-index: 10;
     transition: 1s;
 }

 .navbar-item-container {
     position: relative;
     height: var(--navbar-height);
     align-items: center;
     vertical-align: center;
 }

 .navbar-item {
     min-width: 50px;
     display: flex;
     padding-left: 2rem;
     align-items: center;
     position: relative;
     height: var(--navbar-height);
 }

 .navbar-item:hover .navbar-item-label {
     color: var(--color-text-hover);
     font-size: 22px;
 }

 .navbar_controls {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     gap: 20px;
     padding-left: 2rem;
 }

 .navbar .navbar-item .icon-wrapper:hover {
     height: var(--icon-mid-size-hover);
     width: var(--icon-mid-size-hover);
 }

 .navbar .navbar-item.activeLink .navbar-item-label {
     color: var(--color-active-link);
     font-size: 20px;
 }

 .navbar .navbar-item-container:hover .navbar-item.activeLink .navbar-item-label {
     font-size: 18px;
 }

 .navbar .navbar-item-container:hover .navbar-item.activeLink:hover .navbar-item-label {
     font-size: 20px;
 }

 .navbar-mobile .navbar-item-container,
 .navbar-mobile .navbar-item {
     height: var(--navbar-height--mobile);
     display: flex;
     text-align: center;
     justify-content: center;
 }

 .navbar-mobile .navbar-item span {
     border-bottom: 2px solid var(--color-white);
 }

 .navbar-mobile .navbar-item.activeLink span {
     border-color: var(--color-active-link);
 }

 .navbar-mobile .navbar-item-container {
     margin-bottom: 5px;
 }

 .navbar-mobile {
     transition: 1s;
 }

 .navbar-mobile .links {
     margin-top: -400px;
     transition: 1s;
 }

 .navbar-mobile .items-container {
     position: relative;
     min-height: var(--navbar-height);
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
 }

 .navbar-mobile .navbar-item-container:first-child {
     background-color: var(--navbar-bg-color);
     height: var(--navbar-height--mobile);
     width: 80%;
     z-index: 10;
 }

 .navbar-mobile.isOpen .links {
     margin-top: 0;
 }

 .navbar-mobile .navbar_controls {
     display: none;
 }

 .navbar-mobile .language-settings,
 #nav-toogle {
     position: absolute;
     width: var(--icon-mid-size);
     height: var(--icon-mid-size);
     top: 10px;
     background: none;

     cursor: pointer;
 }

 #nav-toogle {
     left: -10px;
 }

 .navbar-mobile .language-settings {
     right: -10px;
 }

 #nav-toogle:hover {
     background-color: #201233;
 }

 .navbar-mobile .language-settings .language-icon:hover {
     height: var(--icon-mid-size);
     width: var(--icon-mid-size);
 }