.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion .accordion_header {
    display: flex;
    vertical-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.accordion .accordion_header .accordion_header_title {
    margin-left: 0.5rem;
}

.accordion .accordion_header .accordion_header_control {
    margin-right: 0.5rem;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #fff;
    cursor: pointer;
    /* TODO add proper icon*/
}

.accordion .accordion_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
}
