.hobby-sec li{
    height: 60px;
    list-style: none;
}

.hobby-sec{
    text-align: center;
    margin-top: 30px;
}
.hobby-sec t1{
    margin-right: 40%;
}

.timeline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.timeline t1{
    left: 10px;
}
.tl-line{
    position: absolute;
    top: -50px;
    bottom: -50px;
    width: 150px;
    left: 3%;
    opacity: 0;
    transition: 1s;
}
.tl-main{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tl-cont{
    width: 80%;
    margin-top: 10px;
    transition: transform 0.8s ease-in, opacity 400ms ease-in;
}
.tl-l{
    opacity: 0;
    transition: 1s;
    transform: translateX(20%);
}
.tl-r{
    opacity: 0;
    transition: 1s;
    transform: translateX(20%);
}
.tl-l.tl-active{
    opacity: 1;
    transform: translateX(0);
}
.tl-r.tl-active{
    opacity: 1;
    transform: translateX(0);
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
    .tl-line{
        opacity: 1;
    }
}

@media only screen and (min-width: 992px) {
}
 
@media only screen and (min-width: 1200px) {
    .tl-line{
        transform: translateX(calc(-50% + 65px));
        left: 50%;
    }

    .tl-cont{
        width: 30%;
        margin-top: -50px;
    }
    .tl-r+.tl-r, .tl-l+.tl-l{
        margin-top: 25px;
    }

    .tl-l{
        transform: translateX(-120%);
    }
    .tl-r{
        transform: translateX(120%);
    }
    .tl-l.tl-active{
        transform: translateX(-60%);
    }
    .tl-r.tl-active{
        transform: translateX(60%);
    }
}