.timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tl-main {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tl-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5%;
    width: 1px;
    border-width: 1px;
    opacity: 0;
    transition: 1s;
}


.tl-l {
    opacity: 0;
    transition: 1s;
}

.tl-r {
    opacity: 0;
    transition: 1s;
}

.tl-l.tl-active {
    opacity: 1;
}

.tl-r.tl-active {
    opacity: 1;
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {
    .tl-line {
        opacity: 1;
    }
}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {
    .tl-line {}

    .tl-l {}

    .tl-r {
        /*
        transform: translateX(60%);
        */
    }

    .tl-l.tl-active {}

    .tl-r.tl-active {
        /*
        transform: translateX(0);
        */
    }
}

.timeLineDataItem {
    width: 80%;
}

.timeLineDataItem .content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.timeLineDataItem .content .contentIconDate {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeLineDataItem .content .contextText {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 1rem;
    gap: 15px;
}

.timeLineDataItem .content .contextText .title {
    font-size: 22px;
    font-weight: var(--font-bold);
}

.timeLineDataItem .content .contextText .text {
    font-size: 16px;
    text-align: start;
}

.hobbySection {
    text-align: center;
    margin-top: 30px;
}

.hobbySection .hobbyList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.hobbyTile {
    display: flex;
    width: 400px;
    flex-direction: column;
    gap: 10px;
}

.hobbyTile .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-weight: var(--font-bold);
}

.hobbyTile .body {}