@keyframes circleAnimation {
    0% {top: -20px;}
    50% {top: 50%;}
    100% {top: -20px;}
}
.circle{
    height: 70px;
    width: 70px;
    top: -20px;
    border-radius: 35px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    animation-name: circleAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;   
}
.crcl-bg{
    position: absolute;
    z-index: -1;
    left: 5%;
    right: 5%;
    bottom: 5%;
    top: 5%;
    background-color: rgb(32, 5, 44);
    border-radius: 50%;
}
.c-d{
    animation-delay: 2.5s;
}
.crcl{
    height: 100%;
    width: 100%;
    position: absolute;
}
.crcl-c{
    height: 60%;
    width: 60%;
    position: absolute;
}
.i-col{
    display: inline-flex;
    justify-content: center;
    position: relative;
    height: 100%;
}
.i-col+.i-col{
    margin-left: 20px;
}
.i-col:hover .i-col-info{
    opacity: 1;
    visibility: visible;
}
.i-col-info{
    display: block;
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 0;
    transform: translate( -100%, -50%);
    background-color: #1D1030;
    color: white;
    padding: 10px;
    padding-right: 15px;
    border-radius: 10px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    transition: visibility 1s, opacity 1s;
    opacity: 0;
}

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .i-col+.i-col{
        margin-left: 70px;
    }
}