.list{
    display: block;
    position: relative;
    height: 100%;
}

.list-link{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-link+.list-link{
    margin-left: 10px;
}

.list-ic{
    display: block;
    width: 70px;
    height: 70px;
}

.list-split{
    height: 15px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .list-split{
        display: none;
    }
}