@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./variables.css";

html {
    overflow-x: hidden;
    min-height: 100%;
    height: auto;
}

body {
    height: auto;
    cursor: default;
}

span {
    cursor: default;
}