.wdg-info{
    display: flex;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}
.floatIcons{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 120px;
}
.wdg-c{
    display: flex;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

 }

 /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .wdg-info{
        width: 700px;
    }
    .wdg-c{
        width: 600px;
    }
    .floatIcons{
        margin-top: none;
    }
}
 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}