 /* Extra small devices (phones, 600px and down) */
 .navMain{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: 1s;
 }
 .nav{ 
    position: relative;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1f1e1e;
    border-bottom: solid 2px black;
}
.nav-s{
    display: flex;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav-logo{
    width: 100%;
}
.nav-sl{
    display: none;
    width: 100%;
}
.s{
    display: none;
}

.nav-button{
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .nav{
        min-height: 80px;
    }
    .nav-s{
        height: 80px;
    }
    .nav-button{
        height: 60px;
        width: 60px;
    }
    .nav-logo{
        max-height: none; 
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .nav{
        flex-direction: row;
        height: 80px;
        justify-content: none;
        white-space: nowrap;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    .nav-logo{
        width: 200px;
    }
    .nav-s{
        display: inline-flex;
    }
    .nav-sl{
        border: none;
        width: 100px;
    }
    .s{
        width: calc(95% - 560px);
        display: inline-flex;
    }
    .nav-button{
        display: none;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .nav-sl{
        width: 180px;
    }
    .s{
        width: calc(95% - 880px);
    }
 } 