* {
    color: var(--color-white);
}

html {
    overscroll-behavior: none;
}

body {
    font-family: var(--font-family);
}

.bg-image {
    background-image: url('../images/bg_3.jpg');
    position: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.pageContent {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sec {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


.fontNF {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    justify-content: center;
    align-items: center;
}

.languages {
    position: absolute;
    display: block;
    width: 100px;
    height: 50px;
    bottom: 1%;
    left: 50%;
}

.neon-blur {
    transition: var(--transition-fast);
    stroke-width: 5px;
    stroke: #22009c;
    fill: none;
    filter: blur(1.25px);
}

.neon-line {
    transition: var(--transition-fast);
    fill: var(--color-white);
    stroke-width: 0px;
    stroke: var(--color-white);
}

svg:hover .neon-blur {
    stroke-width: 4px;
}

svg:hover .neon-line {
    stroke-width: 0.25px;
}

.text-neon {
    color: var(--color-white);
    text-shadow:
        0 0 11px #649aff,
        0 0 10px #22009c;
    transition: .25s;
}

.text-neon:hover {
    color: var(--color-white);
}

.text-neon-on {
    color: var(--color-white);
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
}

.tooltip .tooltip-text {
    visibility: hidden;
    background-color: var(--bg-primary-color);
    color: var(--color-white);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip .tooltip-icon {
    font-size: 14px;
    position: absolute;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.questionmark-icon {
    position: absolute;
    display: flex;
    z-index: 99;
    right: 0;
    top: 0;
    transform: translate(-100%, -100%);
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
}