.ctl-m {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-end;
    gap: 1.5rem;
    padding: 0rem 2rem;
}

.container-folder {
    width: 400px;
    display: flex;
    flex-grow: 1;
}