.projects-ctl {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ctl-m {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.container-folder {
    width: 300px;
    height: auto;
    display: flex;
}

/*.container-folder+.container-folder{
    margin-left: 100px;
}*/