@keyframes slideL {
    0% {
        transform: translateX(200px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
}
@keyframes slideR {
    0% {
        transform: translateX(-200px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
}
:root{
    --size: 80px;
    --dist-from-r: 10px
}
.fullscreen{
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
}
.Lang, .Setg{
    width: var(--size);
    height: var(--size);
    position: fixed;
}
.Lang{
    right: var(--dist-from-r);
}
.Lang>div:first-child,
.Setg>div:first-child
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 1s;
}
.activeM
{
    transform: translateX(calc(100% + var(--dist-from-r)));
}
.Set-col-circl,
.Lang img{
    width: 60%;
    height: 60%;
    border-radius: 50%;
}
.crcl-bg{
    position: absolute;
    z-index: -1;
    left: 5%;
    right: 5%;
    bottom: 5%;
    top: 5%;
    background-color: rgb(32, 5, 44);
    border-radius: 50%;
}
.crcl-s{
    width: 100%;
    height: 100%;
    position: absolute;
}
.languages{
    position: absolute;
    left: 0;
    bottom: 0;
    visibility: hidden;
    display: flex;
    min-height: 100px;
    width: 200px;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 1s;
    transform: translateX(calc(var(--size) + var(--dist-from-r) + 100px));
}
.languages.activeM{
    transform: translateX(calc(-30px - var(--dist-from-r) - var(--size)));
    visibility: visible;
}
.languages::before{
    content: ' ';
    background-color: #1D1030;
    z-index: -1;
    position: absolute;
    left: 6px; right: 6px;
    top: 6px; bottom: 6px;
    border-radius: 25px;
}
.languages ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.languages li{
    display: inline-flex;
    cursor: pointer;
}
.languages img,
.languages .Set-col-circl{
    width: 40px;
    height: 40px;
    margin: 5px;
}
.languages .Set-col-circl{
    filter: blur(2px);
}
.languages .Set-col-circl::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 10px;
}
.menu-bg{
    position: absolute;
    display: block;
    left: -12.7%; right: -12.7%;
    top: -12.7%; bottom: -12.7%;
    z-index: -1;
}
.menu-m{
    box-sizing: border-box;
    padding: 10px;
    margin:10px;
    display: inline-flex;
    width: max-content;
    flex-direction: column;
}
/* settings border*/
.s-ctl, .s-ctr, .s-cbl, .s-cbr,
.s-t, .s-b, .s-l, .s-r{
    z-index: -1;
}
.s-ctl, .s-ctr, .s-cbl, .s-cbr{
    width: 75px;
    height: 75px;
    position: absolute;
}
.s-ctl{
    top: 0;
    left: 0;
} 
.s-ctr{
    top: 0;
    right: 0;
    transform: rotate(90deg);
} 
.s-cbl{
    bottom: 0;
    left: 0;
    transform: rotate(270deg);
} 
.s-cbr{
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}
.s-t, .s-b, .s-l, .s-r{
    position: absolute;
}
.s-l, .s-r{
    top: 75px;
    width: 75px;
    height: calc(100% - 150px);
}
.s-b, .s-t{
    height: 75px;
    left: 75px;
    width: calc(100% - 150px);
}
.s-l{
    left: 0px;
}
.s-r{
    right: 0;
    transform: rotate(180deg);
}
.s-t{
    top:0;
}
.s-b{
    bottom: 0;
    transform: rotate(180deg);
}

/* mobile */
.Setg, .Lang{
    bottom: calc(115px - var(--size) - var(--dist-from-r));
}
.Setg{
    left: var(--dist-from-r);
}
.Setg .languages{
    left: -450px;
    /*transform: translateX(calc( 0px - 200px - var(--size) - var(--dist-from-r)));*/
}
.Setg .activeM{
    transform: translateX(calc( 0px - 100% - var(--dist-from-r)));
}
.Setg .languages.activeM{
    transform: translateX(calc( 450px ));
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}
 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Lang{
        bottom: 110px;
    }
    .Setg{
        bottom: calc(115px - var(--size) - var(--dist-from-r));
    }
    .Setg{
        left: auto;
        right: var(--dist-from-r);
    }
    .Setg .languages{
        left: 0px;
        transform: translateX(calc(var(--size) + var(--dist-from-r) + 100px));
    }
    .Setg  .languages.activeM{
        transform: translateX(calc(-30px - var(--dist-from-r) - var(--size)));
    }
    .Setg .activeM{
        transform: translateX(calc(100% + var(--dist-from-r)));
    }
}
 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}