@keyframes slideL {
    0% {
        transform: translateX(200px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
}
@keyframes slideR {
    0% {
        transform: translateX(-200px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
}
:root{
    --size: 80px;
    --dist-from-r: 10px
}
.fullscreen{
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
}
.Lang, .Setg{
    width: var(--size);
    height: var(--size);
    position: fixed;
    right: var(--dist-from-r);
}
.Lang{
    bottom: 10%;
}
.Setg{
    bottom: calc(10% - var(--size) - var(--dist-from-r));
}
.Lang>div:first-child,
.Setg>div:first-child
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 1s;
}
.activeM
{
    transform: translateX(calc(100% + var(--dist-from-r)));
}
.Set-col-circl,
.Lang img{
    width: 60%;
    height: 60%;
    border-radius: 50%;
}
.crcl-bg{
    position: absolute;
    z-index: -1;
    left: 5%;
    right: 5%;
    bottom: 5%;
    top: 5%;
    background-color: rgb(32, 5, 44);
    border-radius: 50%;
}
.crcl-s{
    width: 100%;
    height: 100%;
    position: absolute;
}
.languages{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    min-height: 100px;
    width: 200px;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1D1030;
    border-radius: 10px;
    transition: 1s;
    transform: translateX(calc(var(--size) + var(--dist-from-r) + 10px));
}
.languages.activeM{
    transform: translateX(calc(-30px - var(--dist-from-r) - var(--size)));
}
.languages ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.languages li{
    display: inline-flex;
}
.languages img,
.languages .Set-col-circl{
    width: 40px;
    height: 40px;
    margin: 5px;
}
.languages .Set-col-circl{
    filter: blur(2px);
}
.languages .Set-col-circl::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: white;
}
.menu-bg{
    position: absolute;
    display: block;
    left: -12.7%; right: -12.7%;
    top: -12.7%; bottom: -12.7%;
    z-index: -1;
}
.menu-m{
    box-sizing: border-box;
    padding: 10px;
    margin:10px;
    display: inline-flex;
    width: max-content;
    flex-direction: column;
}