t1 {
    font-size: 28px;
    margin-top: 30px;
}

.s span {
    color: white;
    font-size: 28px;
}

.cont {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.secIco {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.s {
    display: block;
    position: relative;
    text-align: center;
}

/*
@keyframes left-right {
    0% {right: 0;}
    50% {right: -50px;}
    100% {right: 0;}
}
*/
.animatedArrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(150%, -50%);
    border-style: solid;
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent rgb(159, 193, 255);
    animation-name: left-right;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

#statinfo-toggle {
    position: fixed;
    top: 100px;
    right: -8px;
    background-color: #150627;
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
}

#statinfo {
    position: fixed;
    top: 100px;
    width: 400px;
    right: -100%;
    background-color: #150627;
    cursor: pointer;
    color: white;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    transition: 1s;
}

#statinfo div {
    display: flex;
    align-items: center;
    margin: 5px;
}

.star {
    width: 20px;
    height: 20px;
}