t1 {
    font-size: 28px;
    margin-top: 30px;
}

.s span {
    color: white;
    font-size: 28px;
}

.cont {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.secIco {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.s {
    display: block;
    position: relative;
    text-align: center;
}

/*
@keyframes left-right {
    0% {right: 0;}
    50% {right: -50px;}
    100% {right: 0;}
}
*/

.animatedArrow {
    position: relative;
    width: 2rem;
    height: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

#statinfo-toggle {
    position: fixed;
    top: 100px;
    right: -8px;
    background-color: var(--bg-primary-color);
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    opacity: 1;
    transition: 0.5s;
}

#statinfo-toggle[collapsed=true] {
    opacity: 0;
}

.statinfo {
    position: fixed;
    top: 100px;
    width: 450px;
    background-color: var(--bg-primary-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    right: 0;
    transform: translate(500px, 0);
    transition: transform 1s;
}

.statinfo.toggled {
    transform: translate(50px, 0);
}

.statinfo div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.star {
    width: 20px;
    height: 20px;
}

.neon-skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    justify-content: center;
    grid-gap: 5rem;
    padding: 2rem;
}

.statinfo-container {
    position: fixed;
    top: 100px;
    width: 450px;
    background-color: var(--bg-primary-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    right: 0;
    opacity: 1;
    transform: translate(120%, 0);
    transition: 1s, var(--border-shadow-transition) !important;
}

.statinfo-container[toggled=true] {
    transform: translate(50px, 0);
}

.statinfo-container .statinfo-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}