t1, .s span {
    color: white;
    font-size: 28px;
}
.cont{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}
.secIco{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.s{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
}
@keyframes left-right {
    0% {right: 0;}
    50% {right: -50px;}
    100% {right: 0;}
}
.animatedArrow{
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(+100%, -50%);
    border-style: solid;
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent white;
    animation-name: left-right;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}
.arrow{
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(+55%, -50%);
    border-style: solid;
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent white;
}