/*@keyframes slideUP {
    0% {
        transform: translateY(150%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes slideUP-OP {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes changeOVF {
    0% {
        overflow-y: hidden;
    }
    99% {
        overflow-y: hidden;
    }
    100% {
        overflow-y: visible;
    }
}*/

.w-bg {
    position: absolute;
    background-color: var(--bg-primary-color);
    z-index: -1;
    right: 5px;
    left: 5px;
}

.w-t .w-bg {
    top: 5px;
    bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.w-mid .w-bg {
    top: 0;
    bottom: 0;
}

.w-b .w-bg {
    top: 0;
    bottom: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.w-t,
.w-b {
    height: 75px;
    width: 100%;
    position: relative;

}

.w-t {
    top: 0;
}

.rightc,
.leftc {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 0px;

}

.rightc {
    right: 0px;
    transform: rotate(90deg);
}

.w-b {
    width: 100%;
    bottom: 0;
}

.w-b .leftc {
    transform: rotate(-90deg);
}

.w-b .rightc {
    transform: rotate(180deg);
}

.t-l,
.b-l {
    position: absolute;
    width: calc(100% - 150px);
    left: 75px;
    height: 75px;
}

.b-l {
    transform: rotate(180deg);
}

.t-lb {
    position: absolute;
    height: 75px;
    top: -15px;
    left: 6px;
    width: calc(100% - 12px);
    transform: rotate(180deg);
}

.t-c {
    position: absolute;
    width: 120px;
    height: 40px;
    top: 12px;
    right: 10px;
}

.t-c div {
    height: 35px;
    width: 35px;
    margin: 1.25px;
    display: inline-block;
}

.w-mid {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.w-ml,
.w-mr {
    position: absolute;
    height: 100%;
    width: 75px;
    top: 0;
}

.w-ml {
    left: 0;
}

.w-mr {
    right: 0;

    transform: rotate(180deg);
}

.b-m {
    display: block;
    flex-direction: column;
    height: fit-content;
    width: 80%;
    animation-name: changeOVF;
    animation-iteration-count: initial;
    animation-duration: 1s;
}

.b-m2 {
    display: block;
    flex-direction: column;
    height: fit-content;
    width: 80%;
}

.b-m>div {
    animation-name: slideUP;
    animation-iteration-count: initial;
    animation-duration: 1s;
}

.sk-w {
    height: 300px;
    width: 300px;
    border-radius: 25px;
    margin: 30px;
    animation-name: slideUP-OP;
    animation-iteration-count: initial;
    animation-duration: 1s;
}

.sk-bg {
    position: absolute;
    width: 300px;
    height: 300px;
    top: -22px;
    left: -22px;
}

.sk-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    height: 150px;
    width: 150px;
}

.sk-name {
    color: white;
    font-size: 24px;
    margin-top: 20px;
}

.sk-w-i {
    margin-bottom: -30px;
}

.sk-s {
    display: inline-flex;
    width: 30px;
    height: 30px;
    margin: 3px;
}

.prjct-bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.prjct-cbg {
    background-color: var(--bg-primary-color);
    width: 88%;
    height: 75%;
    top: 16%;
    left: 6%;
    position: absolute;
    display: block;
    z-index: -1;
}

.prjct-container {
    width: 100%;
    height: 80%;
    position: relative;
    color: white;
    animation-name: slideUP-OP;
    animation-iteration-count: initial;
    animation-duration: 1s;
}

.prjct-cont {
    display: flex;
    position: relative;
    top: 25%;
    left: 10%;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prjct-techs {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.prjct-techs div {
    width: 28%;
}

.neonAppContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    /* previously #1D1030 */
    background-color: var(--bg-primary-color);
    padding: 0;
    padding-top: 50px;
    color: white;
    border-width: 2px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.neonAppContainer .line-neon,
.neonAppContainer .line {
    position: absolute;
    top: 50px;
    border-width: 1px;
}

.neonAppContainer .cirle {
    position: absolute;
    top: 13px;
    width: 20px;
    height: 20px;
    border-width: 2px;
    border-radius: 20px;
}

.line {
    width: 100%;
    left: 0px;
    border: 1px solid rgb(248, 248, 248);
}

.line-neon {
    left: 4px;
    width: calc(100% - 10px);
}


.neonCircle {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border-width: 2px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.neonSkillCont {
    height: 300px;
    width: 300px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    animation-name: slideUP-OP;
    animation-iteration-count: initial;
    animation-duration: 1s;
    background-color: var(--bg-primary-color);
}