.neonAppContainer-2 {
    background: var(--bg-primary-color-transparent);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);

    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.4);

    border-color: var(--border-color-container);
    border-width: 1px;
    border-radius: 20px;

    overflow: hidden;
}

.neonAppContainer-2 .neonAppContainer-title {
    align-items: center;
    text-align: center;
    background: var(--bg-primary-color-transparent-header);
    box-shadow: 0 0 0.4rem 0.4rem var(--bg-primary-color-transparent-header);
    margin-bottom: 3px;
    /*
    background: var(--bg-primary-color-transparent-header);
    border-bottom: 1px solid var(--neon-app-color-border);
    */
    padding-bottom: 5px;
    padding-top: 5px;
}

.neonAppContainer-2 .neonAppContainer-content {
    padding-bottom: 2rem;
    padding-top: 2rem;
}